{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <img src="/static/images/generals-quarters.png" class="img-fluid img-thumbnail mx-auto d-block room-image"
        alt="room image">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4">Welcome to Fort Smythe Bed and Breakfast</h1>
      <p>
        Your home away from home, set on the majestic waters of the Atlantic Ocen, this will be a vacation to remember
        Your home away from home, set on the majestic waters of the Atlantic Ocen, this will be a vacation to remember
        Your home away from home, set on the majestic waters of the Atlantic Ocen, this will be a vacation to remember
        Your home away from home, set on the majestic waters of the Atlantic Ocen, this will be a vacation to remember
        Your home away from home, set on the majestic waters of the Atlantic Ocen, this will be a vacation to remember
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a href="#!" id="check-availability-button" class="btn btn-success">Check Availability</a>
    </div>
  </div>
</div>
{{end}}

<script src="/static/js/search-availability.js"></script>
{{define "js"}}
<script>
  searchAvailability("1")
</script>
{{end}}